body {
    font-size: 0.8em;
    font-style: normal;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.popup {
    min-width: 400px;
    overflow-x: hidden;
}

.cal_toolbar {
    padding: 4px 4px 4px 8px;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

.cal_content {
    padding: 4px;
}

.options {
    padding-top: 60px;
    padding-bottom: 40px;
}

.message {
    margin: 0 auto;
}

.indicator {
    margin: 0 auto;
    background: url("./images/icon_loading.gif") top left no-repeat;
    padding-left: 20px;
}

.logo {
    font-family: "Segoe UI", Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: bold;
    margin-right: .5em;
}
.logo:focus {
    outline: none;
}

.day_header {
    color: #000;
    font-weight: bold;
}

.date_header:first-child,
.date_header:nth-child(2) {
    margin: 0;
}

.event_list {
    margin: 0;
    padding: 0 4px 8px 2px;
}

.event {
    margin: 0 4px 0 4px;
    line-height: 1.4em;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: #333;
}

.event .feed_color {
  width: 16px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 12px 0 0;
  text-align: center;
  padding: 5px 0 0 0;
  color: #fff;
  font-weight: bold;
}

.event .event_details {
  margin-left: 20px;
  padding: 4px;
}

.event_list .just_before,
.event_list .current {
    border-bottom: red 2px solid;
}

.event_list .before {
    border-bottom: yellow 1px solid;
}

.event_title {
    font-weight: bold;
}

.event a {
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.event a.event_title {
    color: #333;
}

.event_location {
    margin-left: .5em;
}

.event_date {
    display: block;
}

.event_timer {
    display: block;
    text-align: right;
}

.event_list .past {
    opacity: 0.8;
}

.event_list .past,
.event_list .past span,
.event_list .past .event_title {
    color: #666;
}

.now_marker {
    background-color: #E16F5B;
    text-align: center;
    border-top: 2px solid #E16F5B;
    height: 0;
    margin: 2px 0 2px 0;
    padding: 0;
    overflow: hidden;
    opacity: 1;
}

.copyright {
    text-align: center;
}